:host {
  display: block;
  padding: 20px;
  padding-bottom: 90px;
}

.stage {
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;

  .stage__button {
    margin-top: 30px;
  }
}

.featured-listings {
  margin-top: 30px;
}
