@use "@angular/material" as mat;

.profile-body {
  .mat-card {
    margin: 15px;
    cursor: pointer;

    .mat-card-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .mat-card:hover {
    @include mat.elevation(8);
  }
}

.profile-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 25px;
  padding: 20px;

  @media screen and (min-width: 764px) {
    grid-template-columns: 1fr 2fr;
  }
}

.tab-wrapper {
  padding-top: 25px;

  .mat-card-header {
    display: block;
  }
}

.user__avatar {
  display: inline-block;
  width: 45px;
  font-size: 45px;
}
