html {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0;
  color: #000000;
}

a,
a:hover {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

a.button {
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  color: #FFFFFF;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  background-color: #673ab7;
  font-size: small;
  line-height: 36px;
}

h1 {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

.header {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background: #f5f5f5;
  padding: 10px 30px;
}

.text {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  line-height: 3em;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.stage h1 {
  text-align: center;
  line-height: 3em;
}

.inner-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.results {
  margin-top: 30px;
}

.grid {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
}

#banner {
  margin: 20px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.card {
  background: #fff;
  color: rgba(0,0,0,.87);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
  0px 1px 1px 0px rgb(0 0 0 / 14%),
  0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.card:hover {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.card-media {
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px;
  display: block;
  overflow: hidden;
}

.card-body {
  display: block;
  margin-bottom: 16px;
}

.card-text {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 260px;
  margin: 6px 0;
  font-size: 1em;
  font-weight: 500;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.uk-navbar-nav > li > a {
  color: #000000 !important;
  text-transform: none !important;
}

#banner h1 {
  position: relative;
  display: block;
  color: #000000;
  padding: 15px;
}

#banner h1::before {
  position: absolute;
  top: 0;
  left: 0;
  color:rgb(255 255 255 / 50%)
}

.uk-section {
  padding: 40px 20px !important;
}

.uk-container.uk-container-small p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}

.footer {
  background: #f5f5f5;
}

.footer .logo {
  padding: 20px;
  text-align: center;
  display: block;
}

.footer .inner-wrapper {
  font-size: .8rem;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: stretch;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  bottom: 0;
}

.footer .spacer {
  flex: 1 1 auto;
}

.footer__copy, .footer__links {
  font-size: .64rem;
}

.footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
}

.footer__links a {
  margin: 0 10px;
  color: #3f51b5;
  text-decoration: underline;
}
