a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 120px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

.text,
.uk-container.uk-container-small p {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li {
  padding-right: 10px;
}

.stage .text {
  line-height: 3em;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.stage h1 {
  text-align: center;
  line-height: 3em;
}

.inner-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.results {
  margin-top: 30px;
}

.grid {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
}

#banner {
  margin: 20px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}
 
img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
