:host {
  display: grid;
  margin: 0 auto;
  max-width: 1100px;
  padding: 50px 16px;
  min-height: 800px;

  @media all and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .listing-container{
      width: 750px;

      .listing-photos {
         align-items: flex-start;
         aspect-ratio: auto;
         overflow: visible;
      }
    }
  }
}

.listing-container {
  width: 90vw;
  margin: 0 4px;

  .listing-photos {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;

    main {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0 2px;

      div {
        width: 550px;
        aspect-ratio: 16/9;
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    aside {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      position: relative;

      div {
        height: 100px;
        aspect-ratio: 16/9;
        margin: 2px 0;
        overflow: hidden;
        width: 100%;
        background-size: cover;
        cursor: pointer;

        &:first-child {
          border-radius: 0 10px 0 0;
        }

        &:last-child {
          border-radius: 0 0 10px 0;
          opacity: 0.5;
          align-items: center;
          place-content: center;
          display: flex;
          transition: opacity 0.2s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .listing-review {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border: solid 1px #ccc;
    border-radius: 13px 13px 0 0;
    padding: 10px;

    main {
      display: flex;
    }

    .listing-review__stars {
      color: #fcd53f;
      font-size: 1.2rem;

      &.fill {
        font-variation-settings: "FILL" 1;
      }
    }

    div {
      margin-right: 10px;
    }

    aside {

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  .listing-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 10px 0;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    h1 {
      font-size: 2rem;
      font-weight: 600;
      margin: 2px;
    }

    p {
      color: #999;
    }
  }


  .listing-amenities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 10px 0;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 2px;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        align-items: flex-end;
        margin-right: 4px;
        padding: 2px 6px;
        color: #999;

        span {
          margin-right: 4px;
        }
      }
    }
  }

  .listing-comments {
    display: flex;
    margin-top: 0.5px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 10px 0;
    border: solid 1px #ccc;
    border-radius: 0 0 13px 13px;
    min-height: fit-content;
    max-height: 400px;
    overflow-y: scroll;

    .listing-comments__comment {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: left;
      padding: 10px 0;
      border-bottom: solid 1px #ccc;
      width: 730px;
      min-height: 100px;
      max-height: fit-content;

      .listing-comments__comment__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #999;
        width: 100%;

        .listing-comments__comment__header__user {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          margin: 2px;
        }


        .listing-comments__comment__header__date {
          margin: 2px;
        }
      }

      .listing-comments__comment__body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;

        .listing-comments__comment__body__text {
          color: #999;
          margin: 2px;
        }
      }

      .listing-comments__comment__footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: default;
        color: #999;
        width: 100%;
        .listing-comments__comment__footer__upvotes{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          margin: 4px;
        }
        .listing-comments__comment__footer__downvotes{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          margin: 4px;
        }
      }
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 2px;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        align-items: flex-end;
        margin-right: 4px;
        padding: 2px 6px;
        color: #999;

        span {
          margin-right: 4px;
        }
      }
    }
  }
}

