@use "@angular/material" as mat;

section {
  position: relative;
}

img {
  // global constraint: DO NOT REMOVE
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  height: auto;
}

.mat-card:hover {
  @include mat.elevation(8);
}

.mat-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 260px;
  margin: 6px 0;
  font-size: 1rem;
}

.mat-card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  margin-bottom: 20px;
}

.mat-mdc-card-content {
  position: relative;
}

.mat-mdc-card-content .ng-star-inserted {
  right: 5px;
  top: -5px;
}

.listing-favorite__button {
  z-index: 1;
  right: -14px;
  top: 0px;
  position: absolute;
}

.listing-favorite__button.hidden {
  display: none;
}

.mdc-card__actions {
  display: block;
}

// code for hover effect, if there are any  issues with feel free to edilt it
.background-hover{
  border: 4px solid transparent;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card-link:hover {
   transition: 0.5s;
  background-color:white;
   color: black;

}
.background-hover img {
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.3s;
  box-sizing: border-box;
}

.background-hover:hover {
  box-shadow: rgba(14, 30, 37, 0.1) 0px 2px 4px 0px, rgba(14, 30, 37, 0.82) 0px 2px 16px 0px;
  transition: background-color 0.3s, box-shadow 0.3s border .3s ease-in-out;
  border: 4px solid #5000e4;
  -webkit-transition: all 0.2s ease-in-out;
  img {
      transform: scaleX(1.1) rotate(2deg);
  }

}


// this end of work, code for hover effect

@media (min-width: 1100px) {
  mdc-card__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    h2 {
      margin: 0;
    }

    h5 {
      color: #9e9e9e;
    }

    a:hover {
      color: #fff;
    }
  }
}
