@use "@angular/material" as mat;

section {
  position: relative;
}

img {
  aspect-ratio: 16/9;
}

.mat-card:hover {
  @include mat.elevation(8);
}

.mat-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 260px;
  margin: 6px 0;
  font-size: 1rem;
}

.mat-card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  margin-bottom: 20px;
}

.mat-card-content {
  position: relative;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  h2 {
    margin: 0;
  }

  h5 {
    color: #9e9e9e;
  }

  a:hover {
    color: #fff;
  }
}

.is-loading {
  opacity: 0.2;
}

.listing-favorite__button {
  z-index: 1;
  right: -14px;
  top: 0px;
  position: absolute;
}
