@use "@angular/material" as mat;

section {
  position: relative;
}

img {
  // global constraint: DO NOT REMOVE
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  height: auto;
}

.mat-card:hover {
  @include mat.elevation(8);
}

.mat-mdc-card-title{
  padding-top:6px;
}

.mat-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 260px;
  margin: 10px 0;
  font-size: 1rem;
}

.mat-card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  margin-bottom: 20px;
}

.mat-mdc-card-content {
  position: relative;
}

.mat-mdc-card-content .ng-star-inserted {
  right: 5px;
  top: -5px;
}

.listing-favorite__button {
  z-index: 1;
  right: -14px;
  top: 0px;
  position: absolute;
}

.listing-favorite__button.hidden {
  display: none;
}

.mdc-card__actions {
  display: block;
  padding:16px;
}

@media (min-width: 1100px) {
  mdc-card__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    h2 {
      margin: 0;
    }

    h5 {
      color: #9e9e9e;
    }

    a:hover {
      color: #fff;
    }
  }
}
