/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}

.inner-wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

@keyframes loadingBackgroundAnimation {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.loading-background {
  position: relative;
  overflow: hidden;
  min-height: auto;
  margin-bottom: 2px;

  &::after {
    content: " ";
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingBackgroundAnimation;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: block;
  }
}
.mat-mdc-card {
  height:490px;
  }
  @media screen and (min-width: 900px) and (max-width: 1100px) {
    .mat-mdc-card {
      height: 536px;
  }
  }
  @media screen and (min-width: 768px) and (max-width: 899px) {
    .mat-mdc-card {
      height: 520px;
  }
  }
  @media screen and (min-width: 500px) and (max-width: 767px) {
    .mat-mdc-card {
      height: 637px;
  }
  }
